/* div {
    padding-bottom: 250px;
    margin-right: 500px;
    border: 1px solid;
    background-color: yellow;
}
ul {
    border: 5px solid red;
    background-color: blue;
    margin-top: 0%;
}
li {
    text-align: center;
}
#div-2 {
    top: -270px;
    left: 300px;
    position: relative;
}
.div-3 {
    top: -550px;
    left: 600px;
    position: relative;
} */

div {
    height: 150px;
    width: 100px;
    float: left;
    margin-left: 20px;
    border: 1px solid;
    background-color: yellow;
}
ul {
    border: 3px solid red;
    background-color: blue;
    margin: 0;
}
